@model IEnumerable<WebDotNetMentoringProgram.ViewModels.CategoryViewModel>

@{
    ViewData["Title"] = "Categories";
}

<h1>Categories</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <!--td>
                <a href="Categories/Image/@item.CategoryId"><img src="data:image/bmp;base64,@Html.DisplayFor(modelItem => item.Image)" /></a>
            <td-->
            <td>
                <a asp-action="Image" asp-route-id="@item.CategoryId" class="btn btn-secondary mb-2">Show Image</a>
            </td>
            <td>
                <a asp-action="ChangeImage" asp-route-id="@item.CategoryId" class="btn btn-secondary mb-2">Change Image</a>
            </td>
        </tr>
}
    </tbody>
</table>
