@using Microsoft.AspNetCore.Mvc.ViewFeatures;
@using WebDotNetMentoringProgram.Helpers;

@model IEnumerable<WebDotNetMentoringProgram.ViewModels.CategoryViewModel>

@{
    ViewData["Title"] = "Categories";
}

<h1>Categories</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                <image-link image-id="@item.CategoryId">@Html.DisplayFor(modelItem => item.CategoryName)</image-link>

                <!-- Html.ImageLink(@item.CategoryId, @Html.DisplayFor(modelItem => item.CategoryName)); -->
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <!--td>
                <a href="Categories/Image/@item.CategoryId"><img src="data:image/bmp;base64,@Html.DisplayFor(modelItem => item.Image)" /></a>
            <td-->
            <td>
                <a asp-action="Image" asp-route-id="@item.CategoryId" class="btn btn-secondary mb-2">Show Image</a>
            </td>
            <td>
                <a asp-action="ChangeImage" asp-route-id="@item.CategoryId" class="btn btn-secondary mb-2">Change Image</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section footer {
    <footer class="border-top footer text-muted">
        <div class="container">
            It is not possible to edit categories.
        </div>
    </footer>
}
